body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #333333;
}

.product {
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
}

button {
    background-color: #4CAF50; /* green */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#formMessage {
    margin-top: 20px;
    font-size: 16px;
    color: #ff0000;
}