/*სელექტორები (Selectors) CSS-ში გამოიყენება იმისთვის, რომ კონკრეტული HTML ელემენტებს მივანიჭოთ სტილები. სელექტორები განსაზღვრავენ, თუ რომელ HTML ელემენტებზე უნდა ვრცელდებოდეს მოცემული CSS წესები. სელექტორების სახეობები მრავლადაა და თითოეული მათგანი სხვადასხვა მიზნისთვის გამოიყენება.*/

/* ელემენტის სელექტორი */
h1 {
    color: blue;
}

/* კლასის სელექტორი */
.highlight {
    background-color: yellow;
}

/* ID სელექტორი */
#header {
    font-size: 24px;
    text-align: center;
}

/* თავისუფალი სელექტორი */
* {
    margin: 0;
    padding: 0;
}

/* შვილობილი სელექტორი */
ul > li {
    list-style-type: none;
}